html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}
*{
    font-family: 'Outfit', sans-serif;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    background-color: #FFF5EC;
    background-size: 100vw 100vh;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    color: white;
}
body::-webkit-scrollbar {
    width: 10px
}
body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(22, 22, 22);
}
body::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgb(95, 95, 95);
    background-clip: padding-box;
}
body::-webkit-scrollbar-thumb:hover {
    background-color: lightgray;
}
a {
    color: #093214;
}
#header h1{
    margin:0px;
}

@font-face {
    font-family: 'FiraCode';
    src: url(fonts/FiraCode-Medium.ttf);
}

::selection {
    background: grey;
  }
.container {
    width: 100%;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    background-color: #FFF5EC;
}
.main-logo {
        cursor: pointer;
        transition: .5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin-right: 0px;
        margin-left: 50px;
        text-decoration: none;
}
a #main-logo {
    width: 60px;
}
/* .main-logo:hover {
    transform:scale(1.1);
} */
#main-logo-name {
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #128230;
    margin-left: 10px;
    margin-right: 10px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-right: auto;
    color: #128230;
    transition: .5s ease-in-out;
}
nav ul {
    width: fit-content;
    padding: 0;
    float: right;
    margin-top: 25.50px;
    gap: 4rem;
}
nav li {
    list-style: none;
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    transition: 1s ease-in-out;
    font-size: 25px;
    font-weight: 400;
}
nav li a {
    text-decoration: none;
    color: white;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
}
nav li::after {
    content: '';
    display: block;
    width: 0;
    margin-top: 5px;
    height: 2px;
    background: #128230;
    border: 0px solid white;
    border-radius: 2px;
    transition: width 1s;
}
nav li:hover::after {
    width: 101%;
    transition: width 1s;
}
nav li:hover {
    scale: 1.05;
    font-weight: 500;
}
ul#menu li a {
    color: #128230;
    font-weight: 400;
    transition: width 1s;
}
ul#menu li a:hover {
    font-weight: 500;
}
.home {
    display: inline-block;
     margin-left: 125px;
    margin-right: 50px;
    cursor: pointer;
}
.sources{
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
}
.about {
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
} 

#tabflora1 {
    color: white;
    width: auto;
    height: 25vh;
    display: flex;
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 0px;
    margin-bottom: 50px;
    overflow: hidden;
} 

.lefttab {
    margin: 0;
    padding: 0;
    display: block;
}

.righttab {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#tabfloralogo {
    width: 70px;
    height: 70px;
    filter: brightness(0) invert(1);
    display: flex;
    margin: 0;
}

#greener {
display: inline-block;
font-weight: bold;
font-size: 40px;
max-width: 60%;
line-height: 55px;
line-height: 45px;
}

#flora {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    max-width: 60%;
    margin-top: 5px;
}


.bothtabs {
    display: flex;
    justify-content: space-between;
}

#leafbg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    min-width: 250px;
    max-width: 500px;
    clip-path: rect(0px, 500px, 500px, 0px);
}

.stepslist {
    display: flex;
    justify-content: center;
    gap: 15%;
    margin: 36px auto 36px auto;
}

.step1img {
    max-width: 125px;
    display: block;
    filter: invert(12%) sepia(38%) saturate(1115%) hue-rotate(85deg) brightness(102%) contrast(94%);
}
.step2img {
    max-width: 125px;
    display: block;
    filter: invert(12%) sepia(38%) saturate(1115%) hue-rotate(85deg) brightness(102%) contrast(94%);
}
.step3img {
    max-width: 125px;
    display: block;
    filter: invert(12%) sepia(38%) saturate(1115%) hue-rotate(85deg) brightness(102%) contrast(94%);
}
.keysteps {
    max-width: 200px;
    display: block;
    justify-content: center;
}

.key {
    text-align: center;
    color: #093214;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 35px;
}

.steptext {
    text-align: center;
    color: #093214;
    font-weight: 400;
}


.stepimg {
    max-width: 125px;
    display: block;
    filter: invert(12%) sepia(38%) saturate(1115%) hue-rotate(85deg) brightness(102%) contrast(94%);
    margin-left: auto;
    margin-right: auto;
}

#purpose {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 1000px;
}
.purposetext {
    text-align: center;
    color: #093214;
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.purposeparagraph {
    text-align: center;
    color: #093214;
    font-weight: 400;
    font-size: 22px;
    margin: 25px auto 0 auto;
    line-height: 50px;
    
}